<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I am a full stack developer from Ventura, California.</p>
		<p>I have recently graduated from Codingdojo's Los Angeles Campus after completing the coding bootcamp curriculum of 3 full stacks. </p>
		
		
		<h6>Web fundamentals</h6>
		
		<p>HTML,CSS,Git, Jquery,Responsive Web design.</p>
		
		<hr>
		
		<h6>LAMP Stack</h6>
		
			<p>MySQL,PHP OOP Programming,PHP using Codeigniter framework,Apache Web Server,Ajax.</p>
		
		<hr>
		
		<h6>Ruby on rails Stack</h6>
	
			<p>Ruby,Rails,Test Driven Development, Error Driven Development,Angular Rails,Ember.</p>
		
		<hr>
			
		<h6>Mean Stack</h6>
		
			<p>Full Javascript stack with Node.JS as the server,Express.JS handling the framework duties.MongoDB serves as the database alongside AngularJS providing the front and back end support.<p>
	
		
	</div>
	<div class="col-2 homepage_content">
		<h2><a href="posts">Stuff Ive written</a></h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %> </a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>


		

	</div>
	<div class="col-3 homepage_content">
		<h2><a href="projects">Stuff Ive Built</a></h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %> </a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
			<% end %>

	</div>
</div>